body {
  font-family: Helvetica
}
.top {
  display:flex;
  flex-direction: row;
}

a {
  color: #FDFEFE
}

a:hover {
}

.startFreeTrial {
  background-color: #c33539;
  color: #FDFEFE;
  font-size: 20px;
  text-align: right;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px
}
.startFreeTrial:hover{
  background-color: #2e4e74;

}

.title {
  display:flex;
  justify-content: flex-start;
  font-size: 50px;
  padding:20px;
  margin-left: 40px;
}
